examples/hold/flow.json
[{"id":"e8c42cec.277a2","type":"nrl-hold in","z":"1c7933a0.62129c","negative":false,"positive":true,"timeout":"10","timeoutUnits":"seconds","from":1,"x":340,"y":300,"wires":[["9fe1ae56.8bde2"]]},{"id":"48f26a0b.68d3f4","type":"inject","z":"1c7933a0.62129c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["2065d2a0.f303ae"]]},{"id":"2065d2a0.f303ae","type":"nrl-source out","z":"1c7933a0.62129c","config":"8a533917.4e2598","uid":"08c3d764-6324-4032-e798-15c6ad30b280","name":"Toggle 1","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":340,"y":80,"wires":[]},{"id":"b137526c.f4c92","type":"nrl-eval in","z":"1c7933a0.62129c","config":"8a533917.4e2598","name":"Toggle 1","rules":[{"s":"08c3d764-6324-4032-e798-15c6ad30b280","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":true,"disablerepeat":true,"inputs":0,"x":140,"y":300,"wires":[["e8c42cec.277a2"]]},{"id":"9fe1ae56.8bde2","type":"debug","z":"1c7933a0.62129c","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload.enabled","x":580,"y":300,"wires":[]},{"id":"aacdf9a9.c69cc8","type":"comment","z":"1c7933a0.62129c","name":"Holds on for 10s from where off is received","info":"","x":240,"y":260,"wires":[]},{"id":"bb5218d8.a900e8","type":"nrl-hold in","z":"1c7933a0.62129c","negative":false,"positive":true,"timeout":"10","timeoutUnits":"seconds","from":"0","x":340,"y":420,"wires":[["3ce4d4ad.b972ec"]]},{"id":"af0bb978.110a98","type":"nrl-eval in","z":"1c7933a0.62129c","config":"8a533917.4e2598","name":"Toggle 1","rules":[{"s":"08c3d764-6324-4032-e798-15c6ad30b280","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":true,"disablerepeat":true,"inputs":0,"x":140,"y":420,"wires":[["bb5218d8.a900e8"]]},{"id":"3ce4d4ad.b972ec","type":"debug","z":"1c7933a0.62129c","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload.enabled","x":580,"y":420,"wires":[]},{"id":"486e9587.fe1f9c","type":"comment","z":"1c7933a0.62129c","name":"Holds on for minimum 10s from where on is received","info":"","x":270,"y":380,"wires":[]},{"id":"14f07745.b71509","type":"nrl-hold in","z":"1c7933a0.62129c","negative":true,"positive":true,"timeout":"10","timeoutUnits":"seconds","from":1,"x":350,"y":540,"wires":[["74fd8e01.c2d78"]]},{"id":"88dc80c5.0dc5e","type":"nrl-eval in","z":"1c7933a0.62129c","config":"8a533917.4e2598","name":"Toggle 1","rules":[{"s":"08c3d764-6324-4032-e798-15c6ad30b280","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":true,"disablerepeat":true,"inputs":0,"x":140,"y":540,"wires":[["14f07745.b71509"]]},{"id":"74fd8e01.c2d78","type":"debug","z":"1c7933a0.62129c","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload.enabled","x":580,"y":540,"wires":[]},{"id":"c6d37c4a.c087b","type":"comment","z":"1c7933a0.62129c","name":"Holds on and off for 10s from where new state is received","info":"","x":290,"y":500,"wires":[]},{"id":"8a533917.4e2598","type":"nrl-config","z":"","delay":"5","name":""}]
