examples/test_devices/flow.json
[{"id":"da2e0c20.a6327","type":"inject","z":"35fae7aa.7a5088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["f8c75c62.d7349"]]},{"id":"f8c75c62.d7349","type":"nrl-source out","z":"35fae7aa.7a5088","config":"1fdd15fa.9a925a","uid":"bfe73284-f6d3-4d7c-0146-35733c62eaa7","name":"Toggle 1.1","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":390,"y":120,"wires":[]},{"id":"f25bca26.bda988","type":"inject","z":"35fae7aa.7a5088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["87e07b51.c60b98"]]},{"id":"87e07b51.c60b98","type":"nrl-source out","z":"35fae7aa.7a5088","config":"1fdd15fa.9a925a","uid":"ca79a2cc-5ce4-4788-96f1-3e46b9c4a365","name":"Toggle 1.2","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":390,"y":180,"wires":[]},{"id":"56d0e452.b4ddec","type":"nrl-eval in","z":"35fae7aa.7a5088","config":"1fdd15fa.9a925a","name":"Toggle 1.1","rules":[{"s":"bfe73284-f6d3-4d7c-0146-35733c62eaa7","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":false,"disablerepeat":false,"inputs":0,"x":140,"y":240,"wires":[["9e081569.9356f8"]]},{"id":"9e081569.9356f8","type":"nrl-switch out","z":"35fae7aa.7a5088","name":"No repeat switch","times":"b388dfbe.7fc07","repeat":10,"repeatUnits":"minutes","once":true,"x":400,"y":240,"wires":[["24411cc3.78f304","fa7b0c66.41f44"]]},{"id":"24411cc3.78f304","type":"nrl-rfxcom-out","z":"35fae7aa.7a5088","name":"rfxcom no dim","code":"ABC/123","dimmable":false,"x":660,"y":240,"wires":[["41d8644e.f2f50c"]]},{"id":"41d8644e.f2f50c","type":"debug","z":"35fae7aa.7a5088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":860,"y":240,"wires":[]},{"id":"fa7b0c66.41f44","type":"nrl-rfxcom-out","z":"35fae7aa.7a5088","name":"rfxcom dim","code":"ABC/123","dimmable":true,"x":650,"y":300,"wires":[["7f64db29.ce4454"]]},{"id":"7f64db29.ce4454","type":"debug","z":"35fae7aa.7a5088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":300,"wires":[]},{"id":"fa5abd9e.c42d","type":"nrl-eval in","z":"35fae7aa.7a5088","config":"1fdd15fa.9a925a","name":"Toggle 1.2","rules":[{"s":"ca79a2cc-5ce4-4788-96f1-3e46b9c4a365","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":false,"disablerepeat":false,"inputs":0,"x":140,"y":320,"wires":[["da37945b.3bede8"]]},{"id":"da37945b.3bede8","type":"nrl-value in","z":"35fae7aa.7a5088","slider":"40","x":340,"y":320,"wires":[["9e081569.9356f8"]]},{"id":"18d38069.887b8","type":"comment","z":"35fae7aa.7a5088","name":"nrl-rfxcom","info":"","x":150,"y":80,"wires":[]},{"id":"97f6a026.1da7a","type":"inject","z":"35fae7aa.7a5088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":460,"wires":[["115b317d.4f2dcf"]]},{"id":"115b317d.4f2dcf","type":"nrl-source out","z":"35fae7aa.7a5088","config":"1fdd15fa.9a925a","uid":"6d9ba94b-52cf-4089-e2bb-e4b1b08a9916","name":"Toggle 2.1","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":390,"y":460,"wires":[]},{"id":"bb9557a1.dbe008","type":"inject","z":"35fae7aa.7a5088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":520,"wires":[["b018e8a5.3f8488"]]},{"id":"b018e8a5.3f8488","type":"nrl-source out","z":"35fae7aa.7a5088","config":"1fdd15fa.9a925a","uid":"74a535ae-d7b1-40dc-7b20-c3b432c0ff12","name":"Toggle 2.2","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":390,"y":520,"wires":[]},{"id":"c4434e06.43ccb","type":"nrl-eval in","z":"35fae7aa.7a5088","config":"1fdd15fa.9a925a","name":"Toggle 2.1","rules":[{"s":"6d9ba94b-52cf-4089-e2bb-e4b1b08a9916","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":false,"disablerepeat":false,"inputs":0,"x":140,"y":580,"wires":[["69418ba7.f13404"]]},{"id":"69418ba7.f13404","type":"nrl-switch out","z":"35fae7aa.7a5088","name":"No repeat switch","times":"b388dfbe.7fc07","repeat":10,"repeatUnits":"minutes","once":true,"x":400,"y":580,"wires":[["46a23d18.e60724","d29f3165.a495d"]]},{"id":"9daaee46.7d409","type":"debug","z":"35fae7aa.7a5088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":860,"y":580,"wires":[]},{"id":"d751dcc7.87bef","type":"debug","z":"35fae7aa.7a5088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":640,"wires":[]},{"id":"944339ea.264118","type":"nrl-eval in","z":"35fae7aa.7a5088","config":"1fdd15fa.9a925a","name":"Toggle 2.2","rules":[{"s":"74a535ae-d7b1-40dc-7b20-c3b432c0ff12","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":false,"disablerepeat":false,"inputs":0,"x":140,"y":660,"wires":[["8dd4dfa7.207c6"]]},{"id":"8dd4dfa7.207c6","type":"nrl-value in","z":"35fae7aa.7a5088","slider":"40","x":340,"y":660,"wires":[["69418ba7.f13404"]]},{"id":"4a6c9f5a.5433a","type":"comment","z":"35fae7aa.7a5088","name":"nrl-tradfri","info":"","x":150,"y":420,"wires":[]},{"id":"46a23d18.e60724","type":"nrl-tradfri-out","z":"35fae7aa.7a5088","name":"tradfri no dim","dimmable":false,"x":660,"y":580,"wires":[["9daaee46.7d409"]]},{"id":"d29f3165.a495d","type":"nrl-tradfri-out","z":"35fae7aa.7a5088","name":"tradfri dim","dimmable":true,"x":650,"y":640,"wires":[["d751dcc7.87bef"]]},{"id":"1fdd15fa.9a925a","type":"nrl-config","z":"","delay":"1","name":""},{"id":"b388dfbe.7fc07","type":"nrl-switch-config","z":"","times":"1","name":""}]
