examples/source_eval_gate/flow.json
[{"id":"8ff60e2f.815e5","type":"nrl-source out","z":"b89c2da2.b5a6b","config":"450f83c4.54f01c","uid":"0f8fffd8-476a-414c-d7a8-48a9902a2893","name":"Simple","def":"","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":false,"outputs":0,"x":510,"y":120,"wires":[]},{"id":"f0a0d074.c1d0b","type":"nrl-source out","z":"b89c2da2.b5a6b","config":"450f83c4.54f01c","uid":"8d804abb-3293-437b-1108-e7d1564b2b3e","name":"Init value (10)","def":"10","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":false,"outputs":0,"x":690,"y":180,"wires":[]},{"id":"7b619a08.f395e4","type":"nrl-source out","z":"b89c2da2.b5a6b","config":"450f83c4.54f01c","uid":"69062d4f-b9c8-4914-ffb7-b8771aabb10a","name":"Expire in 10s","def":"","expire":true,"timeout":"10","timeoutUnits":"seconds","expval":"0","output":false,"hysteresis":0,"toggle":false,"outputs":0,"x":530,"y":300,"wires":[]},{"id":"3bb15f61.a4f06","type":"nrl-source out","z":"b89c2da2.b5a6b","config":"450f83c4.54f01c","uid":"d7f39d65-af90-4f4a-cd1e-cd3270124474","name":"Toggle","def":"0","expire":false,"timeout":"10","timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":510,"y":360,"wires":[]},{"id":"60bd2641.7ac968","type":"nrl-source out","z":"b89c2da2.b5a6b","config":"450f83c4.54f01c","uid":"7912a7f3-fa3d-44f3-5268-290288916597","name":"Toggle + Output","def":"0","expire":false,"timeout":"10","timeoutUnits":"seconds","expval":"false","output":true,"hysteresis":0,"toggle":true,"outputs":1,"x":540,"y":420,"wires":[["6a62c671.379858"]]},{"id":"718c8c55.902544","type":"nrl-source out","z":"b89c2da2.b5a6b","config":"450f83c4.54f01c","uid":"39587ab4-b470-4aec-2704-f48639c37e5f","name":"Toggle + Output + Expire 10s","def":"0","expire":true,"timeout":"10","timeoutUnits":"seconds","expval":"0","output":true,"hysteresis":0,"toggle":true,"outputs":1,"x":580,"y":480,"wires":[["5e16fd05.a83ee4"]]},{"id":"63244ce4.c8b894","type":"inject","z":"b89c2da2.b5a6b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":120,"wires":[["8ff60e2f.815e5"]]},{"id":"dde7899e.c09938","type":"inject","z":"b89c2da2.b5a6b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":180,"wires":[["f0a0d074.c1d0b"]]},{"id":"ba32ce0a.28757","type":"inject","z":"b89c2da2.b5a6b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":300,"wires":[["7b619a08.f395e4"]]},{"id":"e4c56d06.3b6d3","type":"inject","z":"b89c2da2.b5a6b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":360,"wires":[["3bb15f61.a4f06"]]},{"id":"b6f77fd0.4aefb","type":"inject","z":"b89c2da2.b5a6b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":420,"wires":[["60bd2641.7ac968"]]},{"id":"6a62c671.379858","type":"debug","z":"b89c2da2.b5a6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":760,"y":420,"wires":[]},{"id":"5e16fd05.a83ee4","type":"debug","z":"b89c2da2.b5a6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":830,"y":480,"wires":[]},{"id":"fd903f93.caad5","type":"inject","z":"b89c2da2.b5a6b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":480,"wires":[["718c8c55.902544"]]},{"id":"aca67a1e.952c68","type":"nrl-eval in","z":"b89c2da2.b5a6b","config":"450f83c4.54f01c","name":"Toggle","rules":[{"s":"d7f39d65-af90-4f4a-cd1e-cd3270124474","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":false,"disablerepeat":false,"inputs":0,"x":230,"y":700,"wires":[["3689aa5.ba86956","1eea74b1.7c133b"]]},{"id":"3689aa5.ba86956","type":"nrl-source out","z":"b89c2da2.b5a6b","config":"450f83c4.54f01c","uid":"bd2e230d-904d-40a1-5eb5-38e4f42a2ae0","name":"Message","def":"","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":false,"outputs":0,"x":520,"y":700,"wires":[]},{"id":"7249adbb.9bec14","type":"nrl-eval in","z":"b89c2da2.b5a6b","config":"450f83c4.54f01c","name":"Toggle and Expire + no delay + no repeat","rules":[{"s":"d7f39d65-af90-4f4a-cd1e-cd3270124474","t":"eq","v":"1"},{"s":"69062d4f-b9c8-4914-ffb7-b8771aabb10a","t":"gt","v":"0"}],"checkall":"true","inputson":false,"outputdelay":true,"disablerepeat":true,"inputs":0,"x":340,"y":820,"wires":[["a821b3b2.59569"]]},{"id":"a821b3b2.59569","type":"debug","z":"b89c2da2.b5a6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.enabled","x":660,"y":820,"wires":[]},{"id":"eee82669.11c2c8","type":"comment","z":"b89c2da2.b5a6b","name":"Store values","info":"","x":260,"y":80,"wires":[]},{"id":"41b67a0f.bde294","type":"comment","z":"b89c2da2.b5a6b","name":"Testing eval node","info":"","x":260,"y":660,"wires":[]},{"id":"b42eb49.2e7e348","type":"comment","z":"b89c2da2.b5a6b","name":"Store message","info":"Uses msg.payload.enabled","x":540,"y":660,"wires":[]},{"id":"25d60adf.1fa7b6","type":"comment","z":"b89c2da2.b5a6b","name":"Testing gateway node","info":"","x":280,"y":940,"wires":[]},{"id":"7fd09ca3.090444","type":"nrl-gate in","z":"b89c2da2.b5a6b","config":"450f83c4.54f01c","name":"Toggle","rules":[{"s":"d7f39d65-af90-4f4a-cd1e-cd3270124474","t":"eq","v":"1"}],"checkall":"true","x":430,"y":1000,"wires":[["b9b3eb42.488bc8"],["ff14c243.8b2fb"]]},{"id":"6762647b.625bcc","type":"inject","z":"b89c2da2.b5a6b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1000,"wires":[["7fd09ca3.090444"]]},{"id":"b9b3eb42.488bc8","type":"debug","z":"b89c2da2.b5a6b","name":"Gateway is open","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":670,"y":980,"wires":[]},{"id":"ff14c243.8b2fb","type":"debug","z":"b89c2da2.b5a6b","name":"Gateway is closed","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":670,"y":1040,"wires":[]},{"id":"1eea74b1.7c133b","type":"function","z":"b89c2da2.b5a6b","name":"Receives repeat every 1min","func":"var count = flow.get('count')||0;\ncount++;\nflow.set('count', count);\nnode.status({text:count});","outputs":1,"noerr":0,"x":590,"y":760,"wires":[[]]},{"id":"add9c28c.ca66b","type":"inject","z":"b89c2da2.b5a6b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":540,"wires":[["99ffec4.9cce71"]]},{"id":"99ffec4.9cce71","type":"nrl-source out","z":"b89c2da2.b5a6b","config":"450f83c4.54f01c","uid":"2d182c7f-d522-4cb8-e617-45ba7c5ca16f","name":"Cycle","def":"0","expire":false,"timeout":"10","timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":false,"cycle":true,"cyclen":"5","save":false,"outputs":0,"x":650,"y":540,"wires":[]},{"id":"49705e05.31ffd","type":"inject","z":"b89c2da2.b5a6b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":600,"wires":[["ec816fe7.7b355"]]},{"id":"ec816fe7.7b355","type":"function","z":"b89c2da2.b5a6b","name":"RESET cycle","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":600,"wires":[["99ffec4.9cce71"]]},{"id":"e09786d.c102378","type":"inject","z":"b89c2da2.b5a6b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":240,"wires":[["a1598e11.20105"]]},{"id":"a1598e11.20105","type":"function","z":"b89c2da2.b5a6b","name":"RESET to init value","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["f0a0d074.c1d0b"]]},{"id":"450f83c4.54f01c","type":"nrl-config","z":"","delay":"1","name":""}]