examples/burglaralarm.json
[{"id":"19abe5aa.1cd75a","type":"tab","label":"Burglar alarm","disabled":false,"info":""},{"id":"cd8c4978.904e48","type":"nrl-eval in","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","name":"Full alarm init","rules":[{"s":"f9063f4b-159d-43b2-d1da-6ea2c655cee8","t":"eq","v":"2"}],"checkall":"true","inputson":false,"outputdelay":false,"disablerepeat":true,"inputs":0,"x":130,"y":700,"wires":[["3590588d.b30e38","eb21acd4.3b7fa"]]},{"id":"6ae36ada.fd1d04","type":"comment","z":"19abe5aa.1cd75a","name":"Full alarm initialization","info":"When full alarm is set we want to give the user a few minutes to exit the house. A warning message will be sent prior to fully activated protection","x":160,"y":660,"wires":[]},{"id":"321b0f10.bda84","type":"nrl-switch out","z":"19abe5aa.1cd75a","name":"Only send once","times":"1e1b7e37.a34682","repeat":"20","repeatUnits":"days","once":true,"x":340,"y":1180,"wires":[["80b6a86a.10d248"]]},{"id":"5d4f362b.086868","type":"function","z":"19abe5aa.1cd75a","name":"Set text message","func":"msg.payload = \"Inbrottslarmet har utlösts!\";\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":1180,"wires":[["a77f8ba5.498f48"]]},{"id":"3590588d.b30e38","type":"nrl-hold in","z":"19abe5aa.1cd75a","negative":true,"positive":false,"timeout":"5","timeoutUnits":"minutes","from":"1","x":320,"y":700,"wires":[["d3132c9.9d474d"]]},{"id":"2c4a21ae.6aa10e","type":"nrl-source out","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","uid":"2b73ab9b-e3bb-41fa-d630-60ce47d70432","name":"(B) Movement","def":"0","expire":false,"timeout":"1","timeoutUnits":"seconds","expval":"0","output":false,"hysteresis":0,"toggle":false,"outputs":0,"x":1140,"y":140,"wires":[]},{"id":"aa193b3f.a80ac8","type":"nrl-source out","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","uid":"f9063f4b-159d-43b2-d1da-6ea2c655cee8","name":"(B) Burglar state","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":true,"hysteresis":"0","toggle":false,"outputs":1,"x":380,"y":360,"wires":[["6e8d1252.ea4e7c"]]},{"id":"183c58ae.6466b7","type":"function","z":"19abe5aa.1cd75a","name":"Set value","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":120,"wires":[["4b918fcf.a0147"]]},{"id":"4b918fcf.a0147","type":"switch","z":"19abe5aa.1cd75a","name":"Route laundry door","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"/sensor/burglar/1/magnet/laundry","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":120,"wires":[["a80b861c.051398"],["2c4a21ae.6aa10e"]]},{"id":"d3e73699.afb5a8","type":"comment","z":"19abe5aa.1cd75a","name":"Full alarm protection sources","info":"Laundry door is seperated from all other sensors as I want to be able to enter the house when the alarm has been activated and get 30s to deactivate the alarm","x":180,"y":40,"wires":[]},{"id":"d95cb2e3.b6464","type":"nrl-source out","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","uid":"39fd4ed3-d564-46c9-2b8c-cb829a4af35d","name":"(B) Trigger alarm","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":"0","toggle":false,"outputs":0,"x":1000,"y":940,"wires":[]},{"id":"bbcaba7d.fe6258","type":"nrl-eval in","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","name":"Alarm triggered","rules":[{"s":"39fd4ed3-d564-46c9-2b8c-cb829a4af35d","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":false,"disablerepeat":true,"inputs":0,"x":140,"y":1180,"wires":[["321b0f10.bda84"]]},{"id":"6e100fe5.1d565","type":"comment","z":"19abe5aa.1cd75a","name":"Deactivate and reset","info":"","x":630,"y":320,"wires":[]},{"id":"6da36890.afe408","type":"comment","z":"19abe5aa.1cd75a","name":"Wait 5m delay before activate","info":"","x":400,"y":660,"wires":[]},{"id":"fc7a1217.ce342","type":"comment","z":"19abe5aa.1cd75a","name":"Only react to movement","info":"","x":640,"y":900,"wires":[]},{"id":"92dc001b.856ea","type":"comment","z":"19abe5aa.1cd75a","name":"Send text message","info":"","x":150,"y":1140,"wires":[]},{"id":"6e8d1252.ea4e7c","type":"nrl-gate in","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","name":"Burglar is off","rules":[{"s":"f9063f4b-159d-43b2-d1da-6ea2c655cee8","t":"eq","v":"0"}],"checkall":"true","x":630,"y":360,"wires":[["d95cb2e3.b6464","ed0b95bd.8dc1d8","2c4a21ae.6aa10e","a80b861c.051398","e6f61e6a.61609"],[]]},{"id":"35a431d2.66040e","type":"comment","z":"19abe5aa.1cd75a","name":"Shell alarm protection sources","info":"For shell enabled alarm (at home) we only want to listen to magnets that are triggers","x":160,"y":200,"wires":[]},{"id":"a50eefcb.d337","type":"function","z":"19abe5aa.1cd75a","name":"Set value","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["ed0b95bd.8dc1d8"]]},{"id":"ed0b95bd.8dc1d8","type":"nrl-source out","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","uid":"2f96b507-9b6b-4aa2-4568-33838e41f418","name":"(B) Doors","def":"0","expire":false,"timeout":"1","timeoutUnits":"seconds","expval":"0","output":false,"hysteresis":0,"toggle":false,"outputs":0,"x":1120,"y":240,"wires":[]},{"id":"57674b2a.e5fde4","type":"nrl-eval in","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","name":"Shell","rules":[{"s":"f9063f4b-159d-43b2-d1da-6ea2c655cee8","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":false,"disablerepeat":true,"inputs":0,"x":110,"y":940,"wires":[["5ee73292.80be3c"]]},{"id":"86e4244.6dc76d8","type":"comment","z":"19abe5aa.1cd75a","name":"Shell protection","info":"","x":140,"y":900,"wires":[]},{"id":"c835e232.4fd48","type":"comment","z":"19abe5aa.1cd75a","name":"Burglar alarm on/shell/off","info":"- 0: alarm is off\n- 1: alarm is in shell mode (at home)\n- 2: alarm is in full protection","x":150,"y":300,"wires":[]},{"id":"e0db2f4a.e00ed","type":"nrl-gate in","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","name":"Only full mode","rules":[{"s":"52b0326a-b6ae-44a8-4b15-dcee768871db","t":"true"}],"checkall":"true","x":500,"y":140,"wires":[["183c58ae.6466b7"],["9183b849.457d88"]]},{"id":"3662f5b7.af67fa","type":"function","z":"19abe5aa.1cd75a","name":"Set alarm message","func":"msg.payload = \"Larmet har utlösts! Larmcentralen och husägaren har informerats! Lämna huset omedelbart!\";\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":1120,"wires":[["550ed529.277bbc"]]},{"id":"bb5bc886.f73668","type":"function","z":"19abe5aa.1cd75a","name":"Set notification message to turn off alarm","func":"msg.payload = \"Stäng av larmet innan det aktiveras!\";\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":580,"wires":[["d1691385.f6e3"]]},{"id":"550ed529.277bbc","type":"trigger","z":"19abe5aa.1cd75a","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-30","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1010,"y":1120,"wires":[["d1691385.f6e3"]]},{"id":"e6f61e6a.61609","type":"function","z":"19abe5aa.1cd75a","name":"Stop resend","func":"if (msg.payload == '0'){\n    msg.reset = \"stop\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1010,"y":1060,"wires":[["550ed529.277bbc"]]},{"id":"49e8d790.dd7618","type":"comment","z":"19abe5aa.1cd75a","name":"Warning - soon to be activated","info":"","x":410,"y":760,"wires":[]},{"id":"eb21acd4.3b7fa","type":"nrl-hold in","z":"19abe5aa.1cd75a","negative":true,"positive":false,"timeout":"3","timeoutUnits":"minutes","from":"1","x":320,"y":800,"wires":[["489025f1.d2dc1c"]]},{"id":"77172a97.a2d274","type":"function","z":"19abe5aa.1cd75a","name":"Set warning message","func":"msg.payload = \"Larmet blir aktivt om två minuter!\";\nreturn msg;\n","outputs":1,"noerr":0,"x":900,"y":800,"wires":[["d1691385.f6e3"]]},{"id":"d1691385.f6e3","type":"nrl-gate in","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","name":"Only when activated","rules":[{"s":"f9063f4b-159d-43b2-d1da-6ea2c655cee8","t":"gt","v":"0"}],"checkall":"true","x":1380,"y":940,"wires":[["9f72eb80.c5dd78"],[]]},{"id":"80b6a86a.10d248","type":"nrl-route in","z":"19abe5aa.1cd75a","name":"","x":510,"y":1180,"wires":[["3662f5b7.af67fa","5d4f362b.086868"],[]]},{"id":"b91b95ee.f2cdd8","type":"nrl-route in","z":"19abe5aa.1cd75a","name":"","x":670,"y":800,"wires":[["77172a97.a2d274"],[]]},{"id":"c82850e1.e46a2","type":"nrl-route in","z":"19abe5aa.1cd75a","name":"","x":630,"y":940,"wires":[["9822fb79.f027a8"],[]]},{"id":"f9550fc9.ba3f2","type":"comment","z":"19abe5aa.1cd75a","name":"Speak in Sonos","info":"","x":1520,"y":880,"wires":[]},{"id":"9f72eb80.c5dd78","type":"debug","z":"19abe5aa.1cd75a","name":"sonospollytts","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1610,"y":920,"wires":[]},{"id":"a77f8ba5.498f48","type":"debug","z":"19abe5aa.1cd75a","name":"twilio","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":990,"y":1180,"wires":[]},{"id":"a13f9fa0.c45ae","type":"inject","z":"19abe5aa.1cd75a","name":"/sensor/burglar/pir & magnet","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":140,"wires":[["e0db2f4a.e00ed"]]},{"id":"b5f45f20.45615","type":"inject","z":"19abe5aa.1cd75a","name":"/sensor/burglar/magnet","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":240,"wires":[["8d6bf005.ca84d"]]},{"id":"ab4f9d03.3bb1","type":"inject","z":"19abe5aa.1cd75a","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["aa193b3f.a80ac8"]]},{"id":"90c423f1.f3ec9","type":"inject","z":"19abe5aa.1cd75a","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["aa193b3f.a80ac8"]]},{"id":"9ae62767.637f58","type":"inject","z":"19abe5aa.1cd75a","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["aa193b3f.a80ac8"]]},{"id":"9822fb79.f027a8","type":"function","z":"19abe5aa.1cd75a","name":"Set value","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":940,"wires":[["d95cb2e3.b6464"]]},{"id":"489025f1.d2dc1c","type":"nrl-switch out","z":"19abe5aa.1cd75a","name":"Only send once","times":"1e1b7e37.a34682","repeat":"20","repeatUnits":"days","once":true,"x":500,"y":800,"wires":[["b91b95ee.f2cdd8"]]},{"id":"18e842bc.7f762d","type":"inject","z":"19abe5aa.1cd75a","name":"/sensor/burglar/1/magnet/laundry","topic":"/sensor/burglar/1/magnet/laundry","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":80,"wires":[["e0db2f4a.e00ed"]]},{"id":"a80b861c.051398","type":"nrl-source out","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","uid":"a1999450-93ac-4eb2-3e64-1c77a67b665e","name":"(B) Laundry door","def":"0","expire":false,"timeout":"1","timeoutUnits":"seconds","expval":"0","output":false,"hysteresis":0,"toggle":false,"outputs":0,"x":1150,"y":80,"wires":[]},{"id":"d3132c9.9d474d","type":"nrl-source out","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","uid":"52b0326a-b6ae-44a8-4b15-dcee768871db","name":"(B) Activated","def":"false","expire":false,"timeout":"1","timeoutUnits":"seconds","expval":"0","output":false,"hysteresis":0,"toggle":false,"outputs":0,"x":670,"y":700,"wires":[]},{"id":"5ffc3ac8.bdaa34","type":"nrl-eval in","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","name":"Full alarm","rules":[{"s":"52b0326a-b6ae-44a8-4b15-dcee768871db","t":"true"}],"checkall":"true","inputson":false,"outputdelay":false,"disablerepeat":true,"inputs":0,"x":120,"y":1000,"wires":[["d17549fa.9308b8","38b01713.bd77e8"]]},{"id":"d17549fa.9308b8","type":"nrl-eval in","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","name":"Motion","rules":[{"s":"2b73ab9b-e3bb-41fa-d630-60ce47d70432","t":"gt","v":"0"}],"checkall":"false","inputson":true,"outputdelay":true,"disablerepeat":true,"inputs":1,"x":370,"y":1000,"wires":[["c82850e1.e46a2"]]},{"id":"e9d98402.4f6418","type":"nrl-eval in","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","name":"Please turn off notification","rules":[{"s":"52b0326a-b6ae-44a8-4b15-dcee768871db","t":"true"},{"s":"a1999450-93ac-4eb2-3e64-1c77a67b665e","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":false,"disablerepeat":true,"inputs":0,"x":170,"y":580,"wires":[["69a1b9ee.683a38"]]},{"id":"56b84d85.410ae4","type":"comment","z":"19abe5aa.1cd75a","name":"Full alarm is active and laundry is opened","info":"If full alarm is activated and the laundry door is opened the user gets a notification to turn off the alarm before is is activated","x":220,"y":540,"wires":[]},{"id":"69a1b9ee.683a38","type":"nrl-route in","z":"19abe5aa.1cd75a","name":"","x":350,"y":580,"wires":[["bb5bc886.f73668"],[]]},{"id":"8d6bf005.ca84d","type":"nrl-gate in","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","name":"Only shell mode","rules":[{"s":"f9063f4b-159d-43b2-d1da-6ea2c655cee8","t":"eq","v":"1"}],"checkall":"true","x":420,"y":240,"wires":[["a50eefcb.d337"],["2da4735d.1c432c"]]},{"id":"9183b849.457d88","type":"function","z":"19abe5aa.1cd75a","name":"Reset value","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":160,"wires":[["4b918fcf.a0147"]]},{"id":"2da4735d.1c432c","type":"function","z":"19abe5aa.1cd75a","name":"Reset value","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["ed0b95bd.8dc1d8"]]},{"id":"38b01713.bd77e8","type":"nrl-eval in","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","name":"Laundry","rules":[{"s":"a1999450-93ac-4eb2-3e64-1c77a67b665e","t":"gt","v":"0"}],"checkall":"false","inputson":true,"outputdelay":true,"disablerepeat":true,"inputs":1,"x":380,"y":1060,"wires":[["b0663ed7.41903"]]},{"id":"b0663ed7.41903","type":"nrl-hold in","z":"19abe5aa.1cd75a","negative":true,"positive":false,"timeout":"30","timeoutUnits":"seconds","from":1,"x":540,"y":1060,"wires":[["c82850e1.e46a2"]]},{"id":"1a20d8af.b0e347","type":"comment","z":"19abe5aa.1cd75a","name":"Entrance delay","info":"","x":540,"y":1100,"wires":[]},{"id":"5ee73292.80be3c","type":"nrl-eval in","z":"19abe5aa.1cd75a","config":"827a4693.8400a8","name":"Doors","rules":[{"s":"2f96b507-9b6b-4aa2-4568-33838e41f418","t":"gt","v":"0"}],"checkall":"false","inputson":true,"outputdelay":true,"disablerepeat":true,"inputs":1,"x":370,"y":940,"wires":[["c82850e1.e46a2"]]},{"id":"eb4cfaf6.568528","type":"comment","z":"19abe5aa.1cd75a","name":"Send text message/call home owner","info":"","x":1080,"y":1220,"wires":[]},{"id":"827a4693.8400a8","type":"nrl-config","z":"","delay":"0","name":"Burglar"},{"id":"1e1b7e37.a34682","type":"nrl-switch-config","z":"","times":"1","name":""}]
