examples/simple.json
[{"id":"462b78a4.2ca368","type":"inject","z":"47b8458c.4eb8ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["395a09c8.181916"]]},{"id":"395a09c8.181916","type":"nrl-source out","z":"47b8458c.4eb8ec","config":"db8f9191.d5a94","uid":"a2cfb921-87cc-4578-66ce-9ddce644947d","name":"toggle","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":350,"y":200,"wires":[]},{"id":"2e275534.39c7fa","type":"nrl-eval in","z":"47b8458c.4eb8ec","config":"db8f9191.d5a94","name":"toggle + random","rules":[{"s":"a2cfb921-87cc-4578-66ce-9ddce644947d","t":"eq","v":"1"},{"s":"228cb108-203f-48c6-a413-603fd136ec6f","t":"gt","v":"0.5"}],"checkall":"true","inputson":false,"outputdelay":true,"inputs":0,"x":180,"y":460,"wires":[["3cd63014.53646"]]},{"id":"3c1c2521.3987ba","type":"nrl-rfxcom-out","z":"47b8458c.4eb8ec","name":"rfx enabled switch","code":"ABC/123","dimmable":false,"x":690,"y":460,"wires":[["82a8d9a3.52eac8"]]},{"id":"82a8d9a3.52eac8","type":"debug","z":"47b8458c.4eb8ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":460,"wires":[]},{"id":"5df1ea3d.c8a384","type":"inject","z":"47b8458c.4eb8ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["793aa07a.74a72"]]},{"id":"793aa07a.74a72","type":"function","z":"47b8458c.4eb8ec","name":"Math.random()","func":"msg.payload = Math.random();\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["d18a9fdf.d4a42"]]},{"id":"d18a9fdf.d4a42","type":"nrl-source out","z":"47b8458c.4eb8ec","config":"db8f9191.d5a94","uid":"228cb108-203f-48c6-a413-603fd136ec6f","name":"random","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":false,"outputs":0,"x":560,"y":260,"wires":[]},{"id":"b2797391.24b51","type":"inject","z":"47b8458c.4eb8ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":320,"wires":[["6518f971.91c858"]]},{"id":"6518f971.91c858","type":"nrl-source out","z":"47b8458c.4eb8ec","config":"db8f9191.d5a94","uid":"3c27fa1c-5fe4-44be-b81a-69f37d64836f","name":"toggle 2","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":360,"y":320,"wires":[]},{"id":"3cd63014.53646","type":"nrl-switch out","z":"47b8458c.4eb8ec","name":"calc","times":"8633f227.fa909","repeat":10,"repeatUnits":"minutes","x":370,"y":460,"wires":[["3c1c2521.3987ba"]]},{"id":"4ebb4cdb.2dfc94","type":"nrl-eval in","z":"47b8458c.4eb8ec","config":"db8f9191.d5a94","name":"Toggle2 On","rules":[{"s":"3c27fa1c-5fe4-44be-b81a-69f37d64836f","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":true,"inputs":0,"x":170,"y":520,"wires":[["3cd63014.53646"]]},{"id":"b3e24bd2.da5ab8","type":"comment","z":"47b8458c.4eb8ec","name":"Store some sources","info":"","x":180,"y":160,"wires":[]},{"id":"fdc83bfe.8ee608","type":"comment","z":"47b8458c.4eb8ec","name":"Define rules","info":"","x":170,"y":420,"wires":[]},{"id":"d1f87902.fe5808","type":"comment","z":"47b8458c.4eb8ec","name":"Calculate instruction on several rules","info":"","x":420,"y":420,"wires":[]},{"id":"f818642e.b87438","type":"comment","z":"47b8458c.4eb8ec","name":"Convert to rfxcom instruction","info":"","x":720,"y":420,"wires":[]},{"id":"998bc2c3.1f794","type":"comment","z":"47b8458c.4eb8ec","name":"Simulate transmitting node","info":"","x":990,"y":420,"wires":[]},{"id":"db8f9191.d5a94","type":"nrl-config","z":"","delay":"5","name":""},{"id":"8633f227.fa909","type":"nrl-switch-config","z":"","times":"1","name":""}]
