examples/test_switch/flow.js
[{"id":"c2339e2a.63594","type":"inject","z":"77feda80.217f94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":60,"wires":[["7436bd1.a6bdf44"]]},{"id":"7436bd1.a6bdf44","type":"nrl-source out","z":"77feda80.217f94","config":"da7227dc.5416c8","uid":"a08bde06-5325-4502-1fe2-90e7c8324e7c","name":"Toggle 1","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":420,"y":60,"wires":[]},{"id":"b4e69f98.c42f8","type":"inject","z":"77feda80.217f94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":180,"wires":[["c7f19743.659488"]]},{"id":"c7f19743.659488","type":"nrl-source out","z":"77feda80.217f94","config":"da7227dc.5416c8","uid":"5f4ced25-0748-4fd1-185c-0ca29c36d703","name":"Toggle 2","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":420,"y":180,"wires":[]},{"id":"67f681f2.32c72","type":"nrl-eval in","z":"77feda80.217f94","config":"da7227dc.5416c8","name":"Toggle 1","rules":[{"s":"a08bde06-5325-4502-1fe2-90e7c8324e7c","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":true,"disablerepeat":false,"inputs":0,"x":160,"y":320,"wires":[["f63c2ac8.afd428"]]},{"id":"aebcc16.8260e4","type":"nrl-eval in","z":"77feda80.217f94","config":"da7227dc.5416c8","name":"Toggle 1 and Toggle 2","rules":[{"s":"a08bde06-5325-4502-1fe2-90e7c8324e7c","t":"eq","v":"1"},{"s":"5f4ced25-0748-4fd1-185c-0ca29c36d703","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":true,"disablerepeat":false,"inputs":0,"x":200,"y":440,"wires":[["1237f17c.cd410f"]]},{"id":"1936b9e1.7fe5d6","type":"nrl-switch out","z":"77feda80.217f94","name":"Send once, no repeat","times":"cb3b53f7.6794","repeat":10,"repeatUnits":"minutes","once":true,"x":800,"y":380,"wires":[["391c8c53.7710a4","60de798e.1c0398","a5fb2c18.f85ec"]]},{"id":"391c8c53.7710a4","type":"debug","z":"77feda80.217f94","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload.enabled","x":1050,"y":340,"wires":[]},{"id":"60de798e.1c0398","type":"debug","z":"77feda80.217f94","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload.dim","x":1050,"y":400,"wires":[]},{"id":"1237f17c.cd410f","type":"nrl-set in","z":"77feda80.217f94","name":"Increase type set dim 50%","enabled":"-1","istype":"1","dim":"50","color":"","denabled":"-1","distype":"-1","ddim":"","dcolor":"","x":460,"y":440,"wires":[["1936b9e1.7fe5d6"]]},{"id":"b9cdbb25.5d61d8","type":"inject","z":"77feda80.217f94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":240,"wires":[["5b026c78.8303a4"]]},{"id":"5b026c78.8303a4","type":"nrl-source out","z":"77feda80.217f94","config":"da7227dc.5416c8","uid":"950f9108-b4bb-49ba-f947-d507dc65ea05","name":"Toggle 3","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":420,"y":240,"wires":[]},{"id":"2d77742.b1e978c","type":"nrl-eval in","z":"77feda80.217f94","config":"da7227dc.5416c8","name":"Toggle 3","rules":[{"s":"950f9108-b4bb-49ba-f947-d507dc65ea05","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":true,"disablerepeat":false,"inputs":0,"x":160,"y":560,"wires":[["2770f84.b11e108"]]},{"id":"2770f84.b11e108","type":"nrl-set in","z":"77feda80.217f94","name":"Force off when rule is true","enabled":"0","istype":"2","dim":"","color":"","denabled":"-1","distype":"-1","ddim":"","dcolor":"","x":450,"y":560,"wires":[["1936b9e1.7fe5d6"]]},{"id":"c88ed907.098148","type":"comment","z":"77feda80.217f94","name":"Higher type is prioritized","info":"","x":810,"y":280,"wires":[]},{"id":"2121d2c8.0555be","type":"comment","z":"77feda80.217f94","name":"If same type higher dim is prio","info":"","x":820,"y":320,"wires":[]},{"id":"39d1c46e.f3a4bc","type":"nrl-eval in","z":"77feda80.217f94","config":"da7227dc.5416c8","name":"Toggle 1.1","rules":[{"s":"ad28c0fb-f673-41e7-765c-bac429968b68","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":true,"disablerepeat":false,"inputs":0,"x":160,"y":380,"wires":[["a8d608a2.cdeaa8"]]},{"id":"9405b388.90431","type":"inject","z":"77feda80.217f94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["6ec71b23.b35294"]]},{"id":"6ec71b23.b35294","type":"nrl-source out","z":"77feda80.217f94","config":"da7227dc.5416c8","uid":"ad28c0fb-f673-41e7-765c-bac429968b68","name":"Toggle 1.1","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":430,"y":120,"wires":[]},{"id":"f63c2ac8.afd428","type":"nrl-set in","z":"77feda80.217f94","name":"Dim 50%","enabled":"-1","istype":"-1","dim":"50","color":"","denabled":"-1","distype":"-1","ddim":"","dcolor":"","x":420,"y":320,"wires":[["1936b9e1.7fe5d6"]]},{"id":"a8d608a2.cdeaa8","type":"nrl-set in","z":"77feda80.217f94","name":"Dim 75%","enabled":"-1","istype":"-1","dim":"75","color":"","denabled":"-1","distype":"-1","ddim":"","dcolor":"","x":420,"y":380,"wires":[["1936b9e1.7fe5d6"]]},{"id":"4cda8727.4e1818","type":"nrl-eval in","z":"77feda80.217f94","config":"da7227dc.5416c8","name":"Toggle 1","rules":[{"s":"a08bde06-5325-4502-1fe2-90e7c8324e7c","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":true,"disablerepeat":false,"inputs":0,"x":160,"y":700,"wires":[["215f78b6.e2dc38"]]},{"id":"215f78b6.e2dc38","type":"nrl-switch out","z":"77feda80.217f94","name":"send 3 times every 10s","times":"76baf8bc.551218","repeat":10,"repeatUnits":"seconds","once":false,"x":490,"y":700,"wires":[["c1efc0d4.22aeb"]]},{"id":"c1efc0d4.22aeb","type":"debug","z":"77feda80.217f94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":700,"wires":[]},{"id":"ec4634cf.f080e8","type":"comment","z":"77feda80.217f94","name":"Testing resend","info":"","x":180,"y":660,"wires":[]},{"id":"a5fb2c18.f85ec","type":"function","z":"77feda80.217f94","name":"No of messages","func":"var count = flow.get('count')||0;\ncount++;\nflow.set('count', count);\nnode.status({text: count});","outputs":1,"noerr":0,"x":1040,"y":480,"wires":[[]]},{"id":"da7227dc.5416c8","type":"nrl-config","z":"","delay":"5","name":""},{"id":"cb3b53f7.6794","type":"nrl-switch-config","z":"","times":"1","name":""},{"id":"76baf8bc.551218","type":"nrl-switch-config","z":"","times":"3","name":""}]
