examples/test_switch/switch.json
[{"id":"679e0b5c.9445c4","type":"nrl-on in","z":"5c98d892.1f31c8","name":"","x":570,"y":760,"wires":[["e1543b02.8c2128"]]},{"id":"e1543b02.8c2128","type":"nrl-switch out","z":"5c98d892.1f31c8","name":"","times":"7232f529.4617cc","repeat":10,"repeatUnits":"minutes","once":false,"x":790,"y":760,"wires":[["c428b4b3.b76e28"]]},{"id":"b29b975d.cba838","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":760,"wires":[["4df550e6.06104"]]},{"id":"7c6ba69c.67fa28","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":820,"wires":[["4df550e6.06104"]]},{"id":"4df550e6.06104","type":"nrl-source out","z":"5c98d892.1f31c8","config":"1406c07f.76155","uid":"3dd01482-6430-42c7-0d3f-0a3e057b8796","name":"stored","def":"","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":false,"cycle":false,"cyclen":"5","save":false,"outputs":0,"x":370,"y":760,"wires":[]},{"id":"c428b4b3.b76e28","type":"debug","z":"5c98d892.1f31c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":760,"wires":[]},{"id":"96835ef6.a087","type":"nrl-eval in","z":"5c98d892.1f31c8","config":"1406c07f.76155","name":"Eval stored","rules":[{"s":"3dd01482-6430-42c7-0d3f-0a3e057b8796","t":"true"}],"checkall":"true","inputson":false,"outputdelay":true,"disablerepeat":false,"inputs":0,"x":560,"y":840,"wires":[["fb9acd4f.946b5"]]},{"id":"fb9acd4f.946b5","type":"nrl-set in","z":"5c98d892.1f31c8","name":"Change","enabled":"-1","istype":"1","dim":"75","color":"","denabled":"-1","distype":"-1","ddim":"","dcolor":"","x":700,"y":840,"wires":[["e1543b02.8c2128"]]},{"id":"730284ca.664a9c","type":"nrl-source out","z":"5c98d892.1f31c8","config":"1406c07f.76155","uid":"bbf39756-655b-41fd-4e64-c29119887541","name":"deactivate","def":"","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":false,"cycle":false,"cyclen":"5","save":false,"outputs":0,"x":390,"y":880,"wires":[]},{"id":"eef42f7.367ebd","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":940,"wires":[["730284ca.664a9c"]]},{"id":"dbc1ea4c.2137c8","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":880,"wires":[["730284ca.664a9c"]]},{"id":"9b399fc.ecaee6","type":"nrl-eval in","z":"5c98d892.1f31c8","config":"1406c07f.76155","name":"Deactivate","rules":[{"s":"bbf39756-655b-41fd-4e64-c29119887541","t":"true"}],"checkall":"true","inputson":false,"outputdelay":true,"disablerepeat":false,"inputs":0,"x":560,"y":920,"wires":[["63321956.026958"]]},{"id":"63321956.026958","type":"nrl-set in","z":"5c98d892.1f31c8","name":"Disable when true","enabled":"0","istype":"5","dim":"50","color":"","denabled":"-1","distype":"-1","ddim":"","dcolor":"","x":750,"y":920,"wires":[["e1543b02.8c2128"]]},{"id":"7232f529.4617cc","type":"nrl-switch-config","z":"","times":"2","name":""},{"id":"1406c07f.76155","type":"nrl-config","z":"","delay":"5","name":""}]