examples/devices/flow.json
[{"id":"10495f38.5f60c1","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":560,"wires":[["ff05f7be.69b2e8"]]},{"id":"ff05f7be.69b2e8","type":"nrl-source out","z":"5c98d892.1f31c8","config":"bb862b34.829a48","uid":"bfe73284-f6d3-4d7c-0146-35733c62eaa7","name":"Toggle 1.1","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":530,"y":560,"wires":[]},{"id":"bb276ca9.1c4","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":620,"wires":[["db94713f.91fbb"]]},{"id":"db94713f.91fbb","type":"nrl-source out","z":"5c98d892.1f31c8","config":"bb862b34.829a48","uid":"ca79a2cc-5ce4-4788-96f1-3e46b9c4a365","name":"Toggle 1.2","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":530,"y":620,"wires":[]},{"id":"411f6644.177808","type":"nrl-eval in","z":"5c98d892.1f31c8","config":"bb862b34.829a48","name":"Toggle 1.1","rules":[{"s":"bfe73284-f6d3-4d7c-0146-35733c62eaa7","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":false,"disablerepeat":false,"inputs":0,"x":280,"y":680,"wires":[["7433f3c.8986e0c"]]},{"id":"7433f3c.8986e0c","type":"nrl-switch out","z":"5c98d892.1f31c8","name":"No repeat switch","times":"3078e4e5.172a0c","repeat":10,"repeatUnits":"minutes","once":true,"x":540,"y":680,"wires":[["2e2fe6d1.b9091a","cdcf3e2a.ed832"]]},{"id":"2e2fe6d1.b9091a","type":"nrl-rfxcom-out","z":"5c98d892.1f31c8","name":"rfxcom no dim","code":"ABC/123","dimmable":false,"x":800,"y":680,"wires":[["f6bd1dbf.ace4b"]]},{"id":"f6bd1dbf.ace4b","type":"debug","z":"5c98d892.1f31c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":680,"wires":[]},{"id":"cdcf3e2a.ed832","type":"nrl-rfxcom-out","z":"5c98d892.1f31c8","name":"rfxcom dim","code":"ABC/123","dimmable":true,"x":790,"y":740,"wires":[["d4f4e7df.38be98"]]},{"id":"d4f4e7df.38be98","type":"debug","z":"5c98d892.1f31c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":740,"wires":[]},{"id":"1ee42e10.a11272","type":"nrl-eval in","z":"5c98d892.1f31c8","config":"bb862b34.829a48","name":"Toggle 1.2","rules":[{"s":"ca79a2cc-5ce4-4788-96f1-3e46b9c4a365","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":false,"disablerepeat":false,"inputs":0,"x":280,"y":760,"wires":[["e7b27c5b.5dee8"]]},{"id":"e7b27c5b.5dee8","type":"nrl-value in","z":"5c98d892.1f31c8","slider":"40","x":480,"y":760,"wires":[["7433f3c.8986e0c"]]},{"id":"74b4fb1c.50f6b4","type":"comment","z":"5c98d892.1f31c8","name":"nrl-rfxcom","info":"","x":290,"y":520,"wires":[]},{"id":"387aa357.c0606c","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":900,"wires":[["c2cd9b1c.44fcd8"]]},{"id":"c2cd9b1c.44fcd8","type":"nrl-source out","z":"5c98d892.1f31c8","config":"bb862b34.829a48","uid":"6d9ba94b-52cf-4089-e2bb-e4b1b08a9916","name":"Toggle 2.1","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":530,"y":900,"wires":[]},{"id":"be48768a.401ed8","type":"inject","z":"5c98d892.1f31c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":960,"wires":[["b0177599.753548"]]},{"id":"b0177599.753548","type":"nrl-source out","z":"5c98d892.1f31c8","config":"bb862b34.829a48","uid":"74a535ae-d7b1-40dc-7b20-c3b432c0ff12","name":"Toggle 2.2","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":530,"y":960,"wires":[]},{"id":"d1273bbf.1f5818","type":"nrl-eval in","z":"5c98d892.1f31c8","config":"bb862b34.829a48","name":"Toggle 2.1","rules":[{"s":"6d9ba94b-52cf-4089-e2bb-e4b1b08a9916","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":false,"disablerepeat":false,"inputs":0,"x":280,"y":1020,"wires":[["d7c62d9.8abc3d"]]},{"id":"d7c62d9.8abc3d","type":"nrl-switch out","z":"5c98d892.1f31c8","name":"No repeat switch","times":"3078e4e5.172a0c","repeat":10,"repeatUnits":"minutes","once":true,"x":540,"y":1020,"wires":[["93753e70.f2e71","4a285e2.a2e2ba"]]},{"id":"bf500ac6.572b08","type":"debug","z":"5c98d892.1f31c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":1020,"wires":[]},{"id":"8b76d873.2a5bc8","type":"debug","z":"5c98d892.1f31c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":1080,"wires":[]},{"id":"3f6de617.56ef3a","type":"nrl-eval in","z":"5c98d892.1f31c8","config":"bb862b34.829a48","name":"Toggle 2.2","rules":[{"s":"74a535ae-d7b1-40dc-7b20-c3b432c0ff12","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":false,"disablerepeat":false,"inputs":0,"x":280,"y":1100,"wires":[["cc3246f0.8612d8"]]},{"id":"cc3246f0.8612d8","type":"nrl-value in","z":"5c98d892.1f31c8","slider":"40","x":480,"y":1100,"wires":[["d7c62d9.8abc3d"]]},{"id":"67040329.50b09c","type":"comment","z":"5c98d892.1f31c8","name":"nrl-tradfri","info":"","x":290,"y":860,"wires":[]},{"id":"93753e70.f2e71","type":"nrl-tradfri-out","z":"5c98d892.1f31c8","name":"tradfri no dim","dimmable":false,"x":800,"y":1020,"wires":[["bf500ac6.572b08"]]},{"id":"4a285e2.a2e2ba","type":"nrl-tradfri-out","z":"5c98d892.1f31c8","name":"tradfri dim","dimmable":true,"x":790,"y":1080,"wires":[["8b76d873.2a5bc8"]]},{"id":"1013dcd6.906a83","type":"comment","z":"5c98d892.1f31c8","name":"Here there should be an rfx-lights sensor from node-red-contrib-rfxcom","info":"","x":1130,"y":620,"wires":[]},{"id":"1ad21d59.91eb83","type":"comment","z":"5c98d892.1f31c8","name":"Here there should be an node from node-red-contrib-tradfri","info":"","x":1100,"y":960,"wires":[]},{"id":"bb862b34.829a48","type":"nrl-config","z":"","delay":"1","name":""},{"id":"3078e4e5.172a0c","type":"nrl-switch-config","z":"","times":"1","name":""}]