examples/houselights/flow.json
[{"id":"5c1cf429.42413c","type":"inject","z":"d116b00c.e8b73","name":"Dark","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["e3307d83.4cbac"]]},{"id":"c2949914.e59648","type":"comment","z":"d116b00c.e8b73","name":"SImulates sensor readings","info":"","x":200,"y":80,"wires":[]},{"id":"e3307d83.4cbac","type":"nrl-source out","z":"d116b00c.e8b73","config":"155435f9.1fe95a","uid":"116806b2-547a-4a1a-3171-dc8e3f45cd30","name":"lights","def":"","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":false,"outputs":0,"x":390,"y":120,"wires":[]},{"id":"42954eb5.a673d","type":"inject","z":"d116b00c.e8b73","name":"Bright","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["e3307d83.4cbac"]]},{"id":"4e7bff1d.390e4","type":"nrl-eval in","z":"d116b00c.e8b73","config":"155435f9.1fe95a","name":"It's dark","rules":[{"s":"116806b2-547a-4a1a-3171-dc8e3f45cd30","t":"eq","v":"0"}],"checkall":"true","inputson":false,"outputdelay":true,"disablerepeat":false,"inputs":0,"x":140,"y":380,"wires":[["93fb076e.272578","a5ded338.ef6f8","462ca871.b67ce8","ed930c00.d979a"]]},{"id":"af565f4f.3c6f7","type":"nrl-timelimit in","z":"d116b00c.e8b73","to":"23:00","from":"06:00","x":590,"y":360,"wires":[["4ed6ec0d.fbaf54"]]},{"id":"93fb076e.272578","type":"nrl-dayslimit in","z":"d116b00c.e8b73","mon":false,"tue":false,"wed":false,"thu":false,"fri":true,"sat":true,"sun":false,"x":356,"y":359,"wires":[["af565f4f.3c6f7"]]},{"id":"aefbeca3.e8486","type":"nrl-timelimit in","z":"d116b00c.e8b73","to":"22:30","from":"06:00","x":588,"y":413,"wires":[["4ed6ec0d.fbaf54"]]},{"id":"a5ded338.ef6f8","type":"nrl-dayslimit in","z":"d116b00c.e8b73","mon":true,"tue":true,"wed":true,"thu":true,"fri":false,"sat":false,"sun":true,"x":392,"y":413,"wires":[["aefbeca3.e8486"]]},{"id":"4ed6ec0d.fbaf54","type":"nrl-switch out","z":"d116b00c.e8b73","name":"Window lights","times":"c5f96efa.c1503","repeat":10,"repeatUnits":"minutes","once":false,"x":840,"y":380,"wires":[["8bdba128.bbb5b"]]},{"id":"8bdba128.bbb5b","type":"nrl-rfxcom-out","z":"d116b00c.e8b73","name":"Window lights","code":"ABC/123","dimmable":false,"x":1080,"y":380,"wires":[["9df289ea.c07018"]]},{"id":"9df289ea.c07018","type":"nrl-limit","z":"d116b00c.e8b73","name":"","rate":"30","rateUnits":"minute","x":1300,"y":480,"wires":[["4393ddb0.d834b4"]]},{"id":"4393ddb0.d834b4","type":"debug","z":"d116b00c.e8b73","name":"Simulates rfxcom transmitter node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1560,"y":480,"wires":[]},{"id":"ffb269d0.eaf018","type":"inject","z":"d116b00c.e8b73","name":"Burglar alarm is off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":220,"wires":[["65f5782b.b6c618"]]},{"id":"65f5782b.b6c618","type":"nrl-source out","z":"d116b00c.e8b73","config":"155435f9.1fe95a","uid":"e6b24fef-2c3f-4806-7670-d7db7aac6faf","name":"burglar","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":false,"outputs":0,"x":400,"y":220,"wires":[]},{"id":"35993f8e.f2b24","type":"inject","z":"d116b00c.e8b73","name":"Burglar alarm is on","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":260,"wires":[["65f5782b.b6c618"]]},{"id":"462ca871.b67ce8","type":"nrl-eval in","z":"d116b00c.e8b73","config":"155435f9.1fe95a","name":"Burglar is off","rules":[{"s":"e6b24fef-2c3f-4806-7670-d7db7aac6faf","t":"eq","v":"0"}],"checkall":"true","inputson":true,"outputdelay":true,"disablerepeat":false,"inputs":1,"x":310,"y":540,"wires":[["b4a3af4.5df0e5"]]},{"id":"b058c4c2.35a258","type":"comment","z":"d116b00c.e8b73","name":"Someone is home","info":"","x":330,"y":500,"wires":[]},{"id":"90f9a2d.564ac6","type":"nrl-switch out","z":"d116b00c.e8b73","name":"Indoor lights","times":"c5f96efa.c1503","repeat":10,"repeatUnits":"minutes","once":false,"x":830,"y":540,"wires":[["112f419.53ec6be","cd6a1f04.da259"]]},{"id":"112f419.53ec6be","type":"nrl-rfxcom-out","z":"d116b00c.e8b73","name":"Indoor lights","code":"ABC/345","dimmable":false,"x":1070,"y":540,"wires":[["9df289ea.c07018"]]},{"id":"ec89fa9b.b21098","type":"inject","z":"d116b00c.e8b73","name":"TV is off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":120,"wires":[["9f92a70f.5a80a8"]]},{"id":"9f92a70f.5a80a8","type":"nrl-source out","z":"d116b00c.e8b73","config":"155435f9.1fe95a","uid":"2b8654f8-a0dc-4cff-c9fc-f368cd81a8ac","name":"tv","def":"","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":false,"outputs":0,"x":850,"y":120,"wires":[]},{"id":"6f25719d.1e6a","type":"inject","z":"d116b00c.e8b73","name":"TV is on","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":160,"wires":[["9f92a70f.5a80a8"]]},{"id":"ed930c00.d979a","type":"nrl-eval in","z":"d116b00c.e8b73","config":"155435f9.1fe95a","name":"TV is on","rules":[{"s":"2b8654f8-a0dc-4cff-c9fc-f368cd81a8ac","t":"eq","v":"1"}],"checkall":"true","inputson":true,"outputdelay":true,"disablerepeat":false,"inputs":1,"x":290,"y":680,"wires":[["1ccccf02.754dc1"]]},{"id":"1ccccf02.754dc1","type":"nrl-hold in","z":"d116b00c.e8b73","negative":false,"positive":true,"timeout":5,"timeoutUnits":"minutes","from":1,"x":480,"y":680,"wires":[["90f9a2d.564ac6"]]},{"id":"d366e22c.933f4","type":"comment","z":"d116b00c.e8b73","name":"Keep on for 5mins when TV is off","info":"","x":530,"y":640,"wires":[]},{"id":"b4a3af4.5df0e5","type":"nrl-timelimit in","z":"d116b00c.e8b73","to":"22:00","from":"06:00","x":570,"y":540,"wires":[["90f9a2d.564ac6"]]},{"id":"7361d595.dbd30c","type":"inject","z":"d116b00c.e8b73","name":"Button is clicked","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":220,"wires":[["8ecc20c8.a9441"]]},{"id":"8ecc20c8.a9441","type":"nrl-source out","z":"d116b00c.e8b73","config":"155435f9.1fe95a","uid":"43fa0978-67fe-4a78-9995-df13b49486db","name":"button","def":"0","expire":false,"timeout":100,"timeoutUnits":"seconds","expval":"false","output":false,"hysteresis":0,"toggle":true,"outputs":0,"x":830,"y":220,"wires":[]},{"id":"65a807da.9183c8","type":"nrl-eval in","z":"d116b00c.e8b73","config":"155435f9.1fe95a","name":"Button force all lights off","rules":[{"s":"43fa0978-67fe-4a78-9995-df13b49486db","t":"eq","v":"1"}],"checkall":"true","inputson":false,"outputdelay":true,"disablerepeat":false,"inputs":0,"x":190,"y":800,"wires":[["213587c4.350648"]]},{"id":"213587c4.350648","type":"nrl-set in","z":"d116b00c.e8b73","name":"override with force off","enabled":"0","istype":"1","dim":"","color":"","denabled":"-1","distype":"-1","ddim":"","dcolor":"","x":480,"y":800,"wires":[["90f9a2d.564ac6","4ed6ec0d.fbaf54"]]},{"id":"cd6a1f04.da259","type":"nrl-tradfri-out","z":"d116b00c.e8b73","name":"tradfri lamp","dimmable":true,"x":1070,"y":620,"wires":[["61414c08.e4eaf4"]]},{"id":"61414c08.e4eaf4","type":"debug","z":"d116b00c.e8b73","name":"node-red-contrib-tradfri","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1300,"y":620,"wires":[]},{"id":"155435f9.1fe95a","type":"nrl-config","z":"","delay":"2","name":""},{"id":"c5f96efa.c1503","type":"nrl-switch-config","z":"","times":"1","name":""}]
